@model PsyCoderEntity.Level
@{
    ViewBag.Title = "编辑等级类型";
}
@section Topcss {
    <link href="~/Resource/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/iCheck/square/green.css" rel="stylesheet" type="text/css" />
    <link href="~/Resource/css/SkyWeb.css" rel="stylesheet" type="text/css" />
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title

    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- right column -->
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Edit", "Level", FormMethod.Post, new { @class = "form-horizontal", @name = "LevelForm", @id = "LevelForm" }))
                {     <div class="box-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.LevelId)
                    <div class="col-md-12">

                        <div class="form-group">
                            @Html.LabelFor(model => model.LevelName, new { @class = "control-label col-sm-2" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.LevelName, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LevelValue, new { @class = "control-label col-sm-2" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.LevelValue, new { @class = "form-control" })
                            </div>
                        </div>

                    </div>

                </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="button" class="btn btn-default">取消</button>
                        <button type="submit" class="btn btn-info pull-right">确定</button>
                    </div>
                    <!-- /.box-footer -->
                }
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content --><!-- Cropping modal -->
<!-- Loading state -->
<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
@section FootScripts {

    <script type="text/javascript" src="~/Resource/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>

    <script type="text/javascript">
        //表单验证
        $('#LevelForm').bootstrapValidator({
            //        live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                LevelName: {
                    validators: {
                        notEmpty: {
                            message: '名称不能为空'
                        }

                    }
                },
                LevelValue: {
                    validators: {
                        notEmpty: {
                            message: '分数不能为空'
                        },
                        numeric: {
                            message: '分数必须是数字'
                        }

                    }
                },

            }
        });

    </script>
}