@model PsyCoderEntity.Orders

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Orders</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OrderId)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerId)
                @Html.ValidationMessageFor(model => model.CustomerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderNumber)
                @Html.ValidationMessageFor(model => model.OrderNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderCreateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderCreateTime)
                @Html.ValidationMessageFor(model => model.OrderCreateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderPayTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderPayTime)
                @Html.ValidationMessageFor(model => model.OrderPayTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderStatus)
                @Html.ValidationMessageFor(model => model.OrderStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountPayment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountPayment)
                @Html.ValidationMessageFor(model => model.CountPayment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActualPayment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActualPayment)
                @Html.ValidationMessageFor(model => model.ActualPayment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BuyerIP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BuyerIP)
                @Html.ValidationMessageFor(model => model.BuyerIP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderSource, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderSource)
                @Html.ValidationMessageFor(model => model.OrderSource)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
