@model IEnumerable<PsyCoderEntity.Orders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderCreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderPayTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderSource)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderCreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderPayTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderSource)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
