@model AdsEntity.AdsVideo

@{
    ViewBag.Title = "Edit";
}

<h2>赵征专用-Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AdsVideo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.VideoId)

        <div class="form-group">
            @Html.LabelFor(model => model.VideoName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VideoName)
                @Html.ValidationMessageFor(model => model.VideoName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VideoUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VideoUrl)
                @Html.ValidationMessageFor(model => model.VideoUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VideoNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VideoNumber)
                @Html.ValidationMessageFor(model => model.VideoNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VideoCategory, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VideoCategory)
                @Html.ValidationMessageFor(model => model.VideoCategory)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


